
[defaults]
deprecation_warnings = false
inject_facts_as_vars = false
interpreter_python = auto_silent
host_key_checking = false

[ssh_connection]
pipelining = true
ssh_args = -o StrictHostKeyChecking=false
